.order-info-p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.order-info-p:last-of-type {
	margin-top: 5px;
	margin-bottom: 1rem;
}

.order-info-header {
	display: inline-block;
}

.order-info-id-span {
	float: right;
}
